/* .TMBlankLine {
	height: 24px;
} */

.TMH1,
.TMSetextH1, .TMH2,
.TMSetextH2 {
	line-height: 120%;
	font-weight: 700;
}

.TMMark_TMCode {
	color: var(--color2);
}

.TMFencedCodeBacktick,
.TMFencedCodeTilde,
.TMCode {
	font-size: 12px;
	background-color: #0000003c;
}

.TMIndentedCode {
	font-size: 12px;
	margin-left: -7px;
	background-color: #0000003c;
	/* border-radius: 14px; */
	width: calc(100% + 14px);
	color: #ffffffbc;
}

.TMCodeFenceBacktickOpen,
.TMCodeFenceTildeOpen {
	border-bottom: thin solid var(--color1-2);
}

.TMCodeFenceBacktickClose,
.TMCodeFenceTildeClose {
	border-top: thin solid var(--color1-2);
}

.TMInfoString {
	font-weight: 300;
	color: var(--color1-1);
	font-style: italic;
}

.TMCode {
	border: thin solid #c0c0c07f;
	border-radius: 2px rgb(255, 0, 0);
	padding-right: 4px;
}

.TMBlockquote {
	/* font-style: italic; */
	/* border-left: 1px solid #c0c0c0; */
	/* padding-left: 0px; */
	margin-left: 4px;
}

.TMMark {
	color: #ffffff30;
}

.TMMark_TMHR {
	letter-spacing: 1pt;
	position: relative;
	bottom: 6px;
}

.TMMark_TMLink {
	color: #a0a0a0;
}

.TMMark_TMH1,
.TMMark_TMH2 {
	color: var(--color4);
	font-weight: 700;
}

.TMMark_TMUL,
.TMMark_TMOL {
	color: var(--color2);
	font-weight: 700;
}

.TMImage {
	/* text-decoration: underline; */
	text-decoration-color: var(--color4);
}

.TMLink {
	/* text-decoration: underline; */
	text-decoration-color: var(--color2);
}

/* .TMLinkLabel {
	text-decoration: underline;
} */

.TMLinkLabel_Definition,
.TMLinkLabel_Valid {
	color: var(--color3);
}

.TMLinkLabel_Invalid {
	color: var(--color3);
	font-weight: 700;
}

.TMLinkTitle {
	font-style: italic;
}

.TMLinkDestination,
.TMAutolink {
	color: var(--color4);
}

.TMHR {
	position: relative;
}

.TMHR:before {
	content: '';
	position: absolute;
	bottom: 50%;
	left: 30%;
	border-bottom: 2px solid #808080B0;
	border-radius: 20px;
	width: 40%;
	z-index: 0;
}

.TMHTML {
	color: var(--color2);
	font-weight: 600;
	text-shadow: 0 0 2px rgb(0, 0, 0);
}

.TMHTMLBlock {
	color: var(--color3);
}

.TMNumbers {
	color: var(--color1-5a);
	text-shadow: 0 0 2px rgb(0,0,0);
	font-weight: 600;
}

.TMStrikethrough {
	color: #ffffffa0;
	text-decoration: line-through;
}

.TMStrong {
	font-weight: 700;
}
